schema/open511.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns:gml="http://www.opengis.net/gml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="open511">
      <optional>
        <attribute name="xml:base">
          <data type="anyURI"/>
        </attribute>
      </optional>
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <attribute name="version">
        <value>v0</value>
      </attribute>
      <choice>
        <!-- The discovery page -->
        <interleave>
          <group>
            <element name="jurisdictions">
              <oneOrMore>
                <ref name="MinimalJurisdiction"/>
              </oneOrMore>
            </element>
            <element name="services">
              <oneOrMore>
                <ref name="ServiceDefinition"/>
              </oneOrMore>
            </element>
            <ref name="SelfLink"/>
          </group>
          <zeroOrMore>
            <ref name="ForeignElement"/>
          </zeroOrMore>
        </interleave>
        <group>
          <!-- A resource-list page -->
          <choice>
            <zeroOrMore>
              <ref name="RoadEvent"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="Area"/>
            </zeroOrMore>
            <zeroOrMore>
              <ref name="ForeignElement"/>
            </zeroOrMore>
          </choice>
          <ref name="Pagination"/>
          <oneOrMore>
            <ref name="Link"/>
          </oneOrMore>
        </group>
        <group>
          <!-- A single-resource page -->
          <choice>
            <ref name="RoadEvent"/>
            <ref name="Jurisdiction"/>
            <ref name="JurisdictionGeography"/>
            <ref name="ForeignElement"/>
          </choice>
          <oneOrMore>
            <ref name="Link"/>
          </oneOrMore>
        </group>
      </choice>
    </element>
  </start>
  <define name="MinimalJurisdiction">
    <element name="jurisdiction">
      <interleave>
        <element name="id">
          <ref name="JurisdictionIDType"/>
        </element>
        <oneOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <ref name="SelfLink"/>
      </interleave>
    </element>
  </define>
  <define name="Jurisdiction">
    <element name="jurisdiction">
      <element name="id">
        <ref name="JurisdictionIDType"/>
      </element>
      <interleave>
        <oneOrMore>
          <element name="name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <element name="email">
          <ref name="EmailType"/>
        </element>
        <optional>
          <element name="phone">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="description">
            <text/>
          </element>
        </optional>
        <optional>
          <!-- FIXME type -->
          <element name="timezone">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="languages">
            <oneOrMore>
              <element name="language">
                <data type="language"/>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <oneOrMore>
          <!-- license, geography, self req'd; description optional -->
          <ref name="Link"/>
        </oneOrMore>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="JurisdictionGeography">
    <element name="geography">
      <choice>
        <ref name="GMLPolygon"/>
        <ref name="GMLMultiPolygon"/>
      </choice>
    </element>
  </define>
  <define name="RoadEvent">
    <element name="event">
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <!-- self, jurisdiction, ...? -->
      <interleave>
        <oneOrMore>
          <ref name="Link"/>
        </oneOrMore>
        <element name="status">
          <choice>
            <value>ACTIVE</value>
            <value>ARCHIVED</value>
          </choice>
        </element>
        <oneOrMore>
          <element name="headline">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <zeroOrMore>
          <element name="description">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <element name="event_type">
          <choice>
            <value>CONSTRUCTION</value>
            <value>SPECIAL_EVENT</value>
            <value>INCIDENT</value>
            <value>WEATHER_CONDITION</value>
            <value>ROAD_CONDITION</value>
          </choice>
        </element>
        <optional>
          <element name="event_subtypes">
            <oneOrMore>
              <element name="event_subtype">
                <choice>
                  <value>ACCIDENT</value>
                  <value>SERIOUS_ACCIDENT</value>
                  <value>NUMEROUS_ACCIDENTS</value>
                  <value>STALLED_VEHICLE</value>
                  <value>SPILL</value>
                  <value>OBSTRUCTION</value>
                  <value>MAJOR_HAZARD</value>
                  <value>DEMONSTRATION</value>
                  <value>ROAD_CONSTRUCTION</value>
                  <value>WORK_IN_THE_MEDIAN</value>
                  <value>NARROW_LANES</value>
                  <value>TRAFFIC_ALTERNATING_DIRECTIONS</value>
                  <value>BRIDGE_OPERATIONS</value>
                  <value>BLASTING</value>
                  <value>WORK_ON_UNDERGROUND</value>
                  <value>EMERGENCY_MAINTENANCE</value>
                  <value>SPORTING_EVENT</value>
                  <value>MAJOR_EVENT</value>
                  <value>CONCERT</value>
                  <value>FESTIVAL</value>
                  <value>FIREWORKS</value>
                  <value>PARADE</value>
                  <value>CROWD</value>
                  <value>SEVERE_WEATHER</value>
                  <value>HEAVY_SNOW</value>
                  <value>SNOW</value>
                  <value>ICE_GLAZE</value>
                  <value>HEAVY_FROST</value>
                  <value>ICE_STORM</value>
                  <value>DAMAGING_HAIL</value>
                  <value>THUNDERSTORM</value>
                  <value>HEAVY_DOWNPOUR</value>
                  <value>TORNADO</value>
                  <value>HURRICANE</value>
                  <value>STRONG_WINDS</value>
                  <value>DENSE_FOG</value>
                  <value>FREEZING_FOG</value>
                  <value>ICE_FOG MIST</value>
                  <value>VISIBILITY_REDUCED</value>
                  <value>VISIBILITY_BLOCKED</value>
                  <value>BLOWING_SNOW</value>
                  <value>BLOWING_DUST</value>
                  <value>SANDSTORM</value>
                  <value>INSECT_SWARMS</value>
                  <value>IMPASSABLE</value>
                  <value>ALMOST_IMPASSABLE</value>
                  <value>PASSABLE_WITH_CARE</value>
                  <value>SURFACE_WATER_HAZARD</value>
                  <value>HYDROPLANING_DANGER</value>
                  <value>SLIPPERY</value>
                  <value>MUD</value>
                  <value>LOOSE_GRAVEL</value>
                  <value>OIL_ON_ROADWAY</value>
                  <value>ICE</value>
                  <value>BLACK_ICE</value>
                  <value>WET_ICY_ROAD</value>
                  <value>SLUSH</value>
                  <value>FROZEN_SLUSH</value>
                  <value>SNOW</value>
                  <value>PACKED_SNOW</value>
                  <value>PLOWED_SNOW</value>
                  <value>POWDER_SNOW</value>
                  <value>DEEP_SNOW</value>
                </choice>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <element name="severity">
          <choice>
            <value>1</value>
            <value>2</value>
            <value>3</value>
            <value>9</value>
          </choice>
        </element>
        <optional>
          <element name="certainty">
            <choice>
              <value>OBSERVED</value>
              <value>LIKELY</value>
              <value>POSSIBLE</value>
              <value>UNKNOWN</value>
            </choice>
          </element>
        </optional>
        <element name="created">
          <ref name="TimestampType"/>
        </element>
        <element name="updated">
          <ref name="TimestampType"/>
        </element>
        <zeroOrMore>
          <element name="detour">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <element name="geography">
          <ref name="AnyGML"/>
        </element>
        <optional>
          <element name="grouped_events">
            <oneOrMore>
              <ref name="RelatedLink"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="areas">
            <oneOrMore>
              <ref name="Area"/>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="roads">
            <oneOrMore>
              <ref name="Road"/>
            </oneOrMore>
          </element>
        </optional>
        <ref name="Schedule"/>
        <optional>
          <element name="attachments">
            <oneOrMore>
              <ref name="VerboseRelatedLink"/>
            </oneOrMore>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Road">
    <element name="road">
      <interleave>
        <oneOrMore>
          <element name="road_name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <zeroOrMore>
          <element name="from">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <zeroOrMore>
          <element name="to">
            <ref name="FreeTextType"/>
          </element>
        </zeroOrMore>
        <optional>
          <element name="direction">
            <choice>
              <value>N</value>
              <value>E</value>
              <value>W</value>
              <value>S</value>
              <value>NW</value>
              <value>SW</value>
              <value>NE</value>
              <value>SE</value>
              <value>NONE</value>
              <value>BOTH</value>
            </choice>
          </element>
        </optional>
        <optional>
          <element name="lane_status">
            <data type="string">
              <param name="pattern">[10]+</param>
            </data>
          </element>
        </optional>
        <optional>
          <element name="impacted_systems">
            <oneOrMore>
              <element name="impacted_system">
                <choice>
                  <value>ROAD</value>
                  <value>SIDEWALK</value>
                  <value>BIKELANE</value>
                  <value>ON_STREET_PARKING</value>
                  <value>PARKING</value>
                </choice>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="restrictions">
            <oneOrMore>
              <element name="restriction">
                <element name="restriction_type">
                  <choice>
                    <value>SPEED</value>
                    <value>WIDTH</value>
                    <value>HEIGHT</value>
                    <value>WEIGHT</value>
                    <value>AXLE_WEIGHT</value>
                  </choice>
                </element>
                <element name="value">
                  <data type="decimal"/>
                </element>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Schedule">
    <element name="schedule">
      <interleave>
        <element name="start_date">
          <data type="date"/>
        </element>
        <optional>
          <element name="end_date">
            <data type="date"/>
          </element>
        </optional>
        <optional>
          <element name="days">
            <oneOrMore>
              <element name="day">
                <data type="string">
                  <param name="pattern">[1-7]</param>
                </data>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="timezone">
            <text/>
          </element>
        </optional>
        <optional>
          <element name="times">
            <oneOrMore>
              <element name="time">
                <element name="start_time">
                  <data type="time"/>
                </element>
                <element name="end_time">
                  <data type="time"/>
                </element>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="specific_dates">
            <oneOrMore>
              <element name="specific_date">
                <data type="string">
                  <param name="pattern">[12][0-9]{3}-[01][0-9]-[0-3][0-9]( [0-2][0-9]:[0-6][0-9]:[0-6][0-9]-[0-2][0-9]:[0-6][0-9]:[0-6][0-9])*</param>
                </data>
              </element>
            </oneOrMore>
          </element>
        </optional>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="Area">
    <element name="area">
      <optional>
        <ref name="XMLLang"/>
      </optional>
      <interleave>
        <element name="area_id">
          <data type="integer"/>
        </element>
        <oneOrMore>
          <element name="area_name">
            <ref name="FreeTextType"/>
          </element>
        </oneOrMore>
        <ref name="SelfLink"/>
        <zeroOrMore>
          <ref name="ForeignElement"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="ServiceDefinition">
    <element name="service">
      <interleave>
        <element name="service_type">
          <text/>
        </element>
        <ref name="SelfLink"/>
        <optional>
          <element name="supported_versions">
            <oneOrMore>
              <element name="supported_version">
                <text/>
              </element>
            </oneOrMore>
          </element>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="Link">
    <element name="link">
      <attribute name="rel"/>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="SelfLink">
    <element name="link">
      <attribute name="rel">
        <value>self</value>
      </attribute>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="UpLink">
    <element name="link">
      <attribute name="rel">
        <value>up</value>
      </attribute>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="RelatedLink">
    <element name="link">
      <attribute name="rel">
        <value>related</value>
      </attribute>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
    </element>
  </define>
  <define name="VerboseRelatedLink">
    <element name="link">
      <attribute name="rel">
        <value>related</value>
      </attribute>
      <attribute name="href">
        <data type="anyURI"/>
      </attribute>
      <optional>
        <attribute name="title"/>
      </optional>
      <optional>
        <attribute name="type"/>
      </optional>
      <optional>
        <attribute name="length">
          <data type="integer"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="hreflang">
          <data type="language"/>
        </attribute>
      </optional>
    </element>
  </define>
  <define name="Pagination">
    <element name="pagination">
      <interleave>
        <element name="offset">
          <data type="integer"/>
        </element>
        <zeroOrMore>
          <ref name="Link"/>
        </zeroOrMore>
      </interleave>
    </element>
  </define>
  <define name="AnyGML">
    <choice>
      <ref name="GMLPoint"/>
      <ref name="GMLMultiPoint"/>
      <ref name="GMLLineString"/>
      <ref name="GMLMultiLineString"/>
      <ref name="GMLPolygon"/>
      <ref name="GMLMultiPolygon"/>
    </choice>
  </define>
  <define name="srsName">
    <attribute name="srsName">
      <value>EPSG:4326</value>
    </attribute>
  </define>
  <define name="GMLCoord">
    <data type="string">
      <param name="pattern">-?[0-9]+\.[0-9]+,-?[0-9]+\.[0-9]+</param>
    </data>
  </define>
  <define name="GMLCoordList">
    <list>
      <oneOrMore>
        <ref name="GMLCoord"/>
      </oneOrMore>
    </list>
  </define>
  <define name="GMLPoint">
    <element name="gml:Point">
      <ref name="srsName"/>
      <element name="gml:coordinates">
        <ref name="GMLCoord"/>
      </element>
    </element>
  </define>
  <define name="GMLMultiPoint">
    <element name="gml:MultiPoint">
      <ref name="srsName"/>
      <oneOrMore>
        <element name="gml:pointMember">
          <element name="gml:Point">
            <element name="gml:coordinates">
              <ref name="GMLCoord"/>
            </element>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="GMLLineString">
    <element name="gml:LineString">
      <ref name="srsName"/>
      <element name="gml:coordinates">
        <ref name="GMLCoordList"/>
      </element>
    </element>
  </define>
  <define name="GMLMultiLineString">
    <element name="gml:MultiLineString">
      <ref name="srsName"/>
      <oneOrMore>
        <element name="gml:lineStringMember">
          <element name="gml:LineString">
            <element name="gml:coordinates">
              <ref name="GMLCoordList"/>
            </element>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="GMLOuterBoundary">
    <element name="gml:outerBoundaryIs">
      <element name="gml:LinearRing">
        <element name="gml:coordinates">
          <ref name="GMLCoordList"/>
        </element>
      </element>
    </element>
  </define>
  <define name="GMLInnerBoundary">
    <element name="gml:innerBoundaryIs">
      <element name="gml:LinearRing">
        <element name="gml:coordinates">
          <ref name="GMLCoordList"/>
        </element>
      </element>
    </element>
  </define>
  <define name="GMLPolygon">
    <element name="gml:Polygon">
      <ref name="srsName"/>
      <oneOrMore>
        <ref name="GMLOuterBoundary"/>
      </oneOrMore>
      <zeroOrMore>
        <ref name="GMLInnerBoundary"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="GMLMultiPolygon">
    <element name="gml:MultiPolygon">
      <ref name="srsName"/>
      <oneOrMore>
        <element name="gml:polygonMember">
          <element name="gml:Polygon">
            <ref name="GMLOuterBoundary"/>
            <zeroOrMore>
              <ref name="GMLInnerBoundary"/>
            </zeroOrMore>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="ForeignElement">
    <element>
      <anyName>
        <except>
          <nsName ns=""/>
        </except>
      </anyName>
      <zeroOrMore>
        <choice>
          <attribute>
            <anyName/>
          </attribute>
          <text/>
          <ref name="ForeignElement"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="JurisdictionIDType">
    <data type="string">
      <param name="pattern">[a-z][a-z0-9\-]*\.[a-z0-9.\-]{2,}</param>
    </data>
  </define>
  <define name="TimestampType">
    <data type="dateTime">
      <param name="pattern">.+T.+(Z|[+\-].+)</param>
    </data>
  </define>
  <define name="EmailType">
    <data type="string">
      <param name="pattern">([a-zA-Z0-9_\-])([a-zA-Z0-9_\-\.]*)@(\[((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}|((([a-zA-Z0-9\-]+)\.)+))([a-zA-Z]{2,}|(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\])</param>
    </data>
  </define>
  <define name="XMLLang">
    <attribute name="xml:lang">
      <data type="language"/>
    </attribute>
  </define>
  <define name="FreeTextType">
    <optional>
      <ref name="XMLLang"/>
    </optional>
    <text/>
  </define>
</grammar>
